{% extends "blog/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Profile
{% endblock title %}

{% block body %}
  <div class="content-section">
    <div class="media">
      <img 
      class="rounded-circle account-img" 
      src="{{ user.profile.image.url }}" 
      alt="Profile Picture for {{ user.username }}">
      
      <div class="media-body">
        <h2 class="account-heading">
          {{ user.username }}
        </h2>
        <p class="text-secondary">
          {{ user.email }}
        </p>
        {% if user.profile.has_bio %}
          <h3 class="text-primary">Bio</h3>
          <p class="bio">{{ user.profile.bio }}</p>
        {% endif %}
      </div>
    </div>

    <!-- enctype is used to pass image data properly -->
    <form method="POST" enctype="multipart/form-data" class="mt-4">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile Info</legend>
        {{ user_update_form|crispy }}
        {{ profile_update_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info">Update</button>
      </div>
    </form>
  </div>
{% endblock body %}
