:root {
  font-size: 16px;
  --primary-color: #e46a53;
  --primary-color-link-hover: #fab4a4;
  --secondary-color: #6e5889;
  --secondary-color-link-hover: #a1578a;
}

html,
body {
  font-family: monospace, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

@keyframes color-swap {
  from {
    border-color: var(--primary-color);
  }

  25% {
    border-color: #d55c6e;
  }

  50% {
    border-color: #b95782;
  }

  75% {
    border-color: #94588b;
  }

  to {
    border-color: var(--secondary-color);
  }
}

.primary-color {
  background-color: var(--primary-color);
}

.content-section {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 3px;
}

.article-metadata {
  display: flex;
  font-size: 1.2rem;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata small {
  margin-left: auto;
}

.article-metadata a {
  font-weight: bold;
  color: var(--primary-color);
}

.article-metadata a:hover {
  color: var(--primary-color-link-hover);
  text-decoration: none;
}

.article-title {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
}

a.article-title:hover {
  color: var(--secondary-color-link-hover);
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.account-img {
  height: 20vh;
  width: auto;
}

.media-body {
  margin-left: 1rem;
}

.account-heading {
  font-size: 2rem;
}

.account-heading:hover {
  color: var(--primary-color);
}

.bio {
  padding: 1rem;
  border: 0.5rem double var(--secondary-color);
  animation-name: color-swap;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
